body{
    font-family: Lato;
    background-color: #222;
    margin: 0;
    text-align: center;
}
.menu{
    position: relative;
    text-align: center;
    margin:0; 
    
}
.menu ul li{
    
   list-style: none;
    display: inline-block;
    
}
.menu__item a
{
    color:white;
    text-decoration: none;
    margin-left: 20px;
    margin-right:20px;
    font-size: 2.5m;
}
.header--main{
    position: relative;
    text-align: center;
    height: 100%;
}
    img{width: 100%;}  
h1{
    font-size: 4em;
    color:white;
    text-transform: uppercase;
    position:absolute;
    left: 0;
    right: 0;
    top:50%;
}
.section{
    background-color: white;
    text-align: center;

}
 h2{
    font-size: 2.5em;
}
.content{
    font-size: 1em;
}
.contact{
    text-align: center;
    color:white;
}
.contact__content a{
    color:white;
    font-style: normal;
    
}